*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: rgb(0, 0, 0);
    color: #333;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;

}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}


section {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


h3 {
    color: #28a745;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h4 {
    margin-top: 15px;
    color: #333;
}

p#txtSearchResult, p#txtCharResult {
    font-size: 1.2em;
    color: #555;
    margin-top: 10px;
}
/*
Author: Micaela Ganas
Description: This is a demo CSS file for Part2A by Micaela Ysabel Ganas.
*/